body {
    margin: 0;
    background-color: black;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    width: 30%;
    height: 85%;
    background-color: white;
    border-radius: 15px;
}

.container .box .titulo {
    display: flex;
    justify-content: center;
}

.container .box .conteudo .musica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .box .conteudo .musica p {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.container .box .conteudo .resposta {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.container .box .conteudo .tentativa .boxTentativa {
    margin-top: 15px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.container .box .conteudo .tentativa .boxTentativa p {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
}